<div id="main">
  <div class="hero">
    <h1><%= image_tag "Birmingham_on_Rails_Logo.svg", width: 350 %></h1>
    <h2>January 30th - 31st, 2020</h2>
  </div>
  <div class="details">
    <div class="location">
      <address>
        <strong>
          <a href="https://www.mcwane.org/" target="_blank">McWane Science Center</a>
          <a href="https://bit.ly/31k0JQg" target="_blank">200 19th Street N</a>
          <a href="https://bit.ly/31k0JQg" target="_blank">Birmingham, AL 35203</a>
        </strong>
      </address>

    </div>
    <div class="links">
      <nav>
        <a class="twitter" href="https://twitter.com/bhmonrails">@bhmonrails</a>
        <a class="contact" href="mailto:someemail@gmail.com">someemail@gmail.com</a>
      </nav>
    </div>
  </div>
</div>
